<p>update-book works!{{id}}</p>
<form >
    <div class="form-outline">
        <label class="form-label" for="typeText">Title</label>
        <input type="text" id="title" class="form-control" [(ngModel)]="book.title" name="title" />
      </div>
      <div class="form-outline">
        <label class="form-label" for="typeText">Author</label>
        <input type="text" id="author" class="form-control" [(ngModel)]="book.author" name="author"/>
      </div>
      <div class="form-outline">
        <label class="form-label" for="typeText">Genre</label>
        <input type="text" id="genre" class="form-control" [(ngModel)]="book.genre" name="genre" />
      </div>
      <div class="form-outline">
        <label class="form-label" for="typeText">Price</label>
        <input type="text" id="price" class="form-control" [(ngModel)]="book.price" name="price"/>
      </div>
      <div class="form-outline">
        <label class="form-label" for="typeText">Total Sales </label>
        <input type="text" id="totalSales" class="form-control" [(ngModel)]="book.totalSales" name="totalSales"/>
      </div>
      <div class="form-outline">
        <label class="form-label" for="typeText">Year Published</label>
        <input type="text" id="yearPublished" class="form-control" [(ngModel)]="book.yearPublished" name="yearPublished" />
      </div>
      <div class="form-outline">
        <label class="form-label" for="typeText">img Url</label>
        <input type="text" id="imageUrl" class="form-control" [(ngModel)]="book.imageUrl" name="imageUrl"/>
      </div>
</form>