
<div class="row">
<div class="col-md-12" style="max-width: 50%" *ngFor="let B of book">
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img
        [src]="B.imageUrl"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"

      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{B.title | titlecase}}</h5>
        <ul class="list-group">
          <li class="list-group-item"> Author: {{B.author | titlecase}}</li>
          <li class="list-group-item">Price: {{B.price | currency}}</li>
          <li class="list-group-item">Genre: {{B.genre | titlecase}}</li>
          <li class="list-group-item">Year Published: {{B.yearPublished}}</li>
          <li class="list-group-item">Total Sales: {{B.totalSales | number:"1.0-3"}}</li>
          <div class="d-flex">
            <button (click)="viewClubs(B.id)" class="btn btn-outline-success mx-auto">View Clubs</button>
            <button (click)="updateBook(B.id)" class="btn btn-outline-primary mx-auto">Update</button>
            <button (click)="deleteBook(B.id)" class="btn btn-outline-danger mx-auto">Delete</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
