<img class="book-image" [src]="book.imageUrl" />
<h1 *ngIf="book.clubs.length==0" > There are no clubs for {{book.title}}</h1>

<table class="table table-striped" *ngIf="book.clubs.length!=0">
  <thead>
  <tr>
    <th scope="col">Club Name</th>
    <th scope="col">Members</th>
    <th scope="col">Meeting Time</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of book.clubs">
    <td>{{c.name}}</td>
    <td>{{c.members}}</td>
    <td>{{c.meetingTime}}</td>
    <td>
      <button (click)="onSubmit(c.id)" class="btn btn-primary">Update</button>
      <button class="btn btn-danger delete-button">Delete</button>

    </td>
  </tr>
  </tbody>
</table>
