
<h3>Add Book</h3>
<hr/>
<form (ngSubmit)="onSubmit()">
  <div class="create-book-form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-outline form-insert">
          <label class="form-label" >Title</label>
          <input type="text" id="title" class="form-control" [(ngModel)]="book.title" name="title" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline form-insert">
          <label class="form-label" >Author</label>
          <input type="text" id="author" class="form-control" [(ngModel)]="book.author" name="author"/>
        </div>
      </div>
    </div>
    <div class="form-outline form-insert">
      <label class="form-label" >Genre</label>
      <input type="text" id="genre" class="form-control" [(ngModel)]="book.genre" name="genre" />
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-outline form-insert">
          <label class="form-label" >Price</label>
          <input type="number" id="price" class="form-control" [(ngModel)]="book.price" name="price"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-outline form-insert">
          <label class="form-label" >Total Sales </label>
          <input type="text" id="totalSales" class="form-control" [(ngModel)]="book.totalSales" name="totalSales"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-outline form-insert">
          <label class="form-label" >Year Published</label>
          <input type="number" id="yearPublished" class="form-control" [(ngModel)]="book.yearPublished" name="yearPublished" />
        </div>
      </div>
    </div>


    <div class="form-outline">
      <label class="form-label form-insert" >Image Url</label>
      <input type="text" id="imageUrl" class="form-control" [(ngModel)]="book.imageUrl" name="imageUrl"/>
    </div>
    <div>
      <button class="btn btn-success form-insert" >Submit</button>
      <button class="btn btn-danger back-button form-insert" (click)="goToBooksList()">Back</button>
    </div>
  </div>
</form>
