/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

#navbar {
    background-color: cornflowerblue;
}

h2{
  font-family: 'Merriweather', serif;
}

h5, p, li, a, span{
  font-family: 'Montserrat', sans-serif;
}
