<!--<div class="row">
    <div class="col-md-12" style="max-width: 50%" *ngFor="let C of club">
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
        
        </div>
        <div class="col-md-8">
          <div class="card-body">
            
            <ul class="list-group">
              <li class="list-group-item"> Club Name: {{C.name}}</li>
              <li class="list-group-item">Members: {{C.members}}</li>
              <li class="list-group-item">MeetingTime: {{C.meetingTime}}</li>
        
              <div class="d-flex">
                
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  -->

<table class = 'table table-striped'>
  <thead>
    <tr>
      <th>
        Club Name:
      </th>
      <th>
        Members:
      </th>
      <th>
        MeetingTime
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let C of club">
      <td>
        {{C.name}}
      </td>
      <td>
        {{C.members}}
      </td>
      <td>
        {{C.meetingTime}}
      </td>
    </tr>
  </tbody>

</table>